@charset charset;

/**
* init.
*/

*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}


.box{
  width: 100px;
  height: 100px;
  background: #ccc;
  text-align: center;
  font-size: 18px;
  line-height: 100px;
  position: relative;
}
